.contact_container {
  width: 100%;
  max-width: 600px;
  margin: 3rem 0;
  margin-bottom: 0;
  font-size: 1.3rem;

  .form_container {
    font-weight: 300;
    margin: 1rem 0;

    p {
      margin-top: .5rem;
    }

    .success {
      color: #9dc38e;
    }

    .error {
      color: #f45702;
    }

    label, input, textarea {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      margin-top: .3rem;
    }

    input, textarea {
      font-size: 1.2rem;
    }

    textarea {
      padding: 1rem;
    }

    input {
      height: 3rem;
    }

    em {
      color: #f45702;
      font-weight: bold;
    }


    input, textarea {
      border: none;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 2px;
      background: #f8f4e5;
      padding-left: 5px;
      outline: none;
    }


    input:focus, textarea:focus {
      border: 1px solid var(--primary);
    }


    textarea {
      resize: vertical;
    }

    button {
      font-weight: bold;
      height: 2rem;
      display: block;
      padding: 0 20px;
      border: none;
      background: #f45702;
      color: white;
      letter-spacing: 2px;
      transition: .2s all ease-in-out;
      border-bottom: 2px solid transparent;
      outline: none;

      &:hover {
        cursor: pointer;
        background: var(--primary);
        color: var(--gray100);
        border-bottom: 2px solid #f45702;
      }
    }
  }




}

