.container {
  position: relative;
  margin-top: calc(32px + 1rem);
  min-height: 90vh;
  width: 100%;

  .adamsrib1_1, .adamsrib2_1, .adamsrib3_1 {
    animation: wind 10s infinite alternate;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    z-index: 21;
  }
  .adamsrib1_2, .adamsrib2_2, .adamsrib3_2 {
    animation: wind 10s infinite alternate;
    position: absolute;
    top: 570px;
    right: 0;
    width: 100px;
    z-index: 20;
  }
  .adamsrib2_1, .adamsrib2_2 {
    animation: wind 10s infinite alternate-reverse;
  }
}

@keyframes wind {
  0%
  {
    right: -3px;
  }
  33%
  {
    right: 0;
  }
  66%
  {
    right: -3px;
  }
  100%
  {
    right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    .adamsrib1_1, .adamsrib2_1, .adamsrib3_1 {
      width: 200px;
    }

    .adamsrib1_2, .adamsrib2_2, .adamsrib3_2 {
      width: 200px;
      top: 1150px;
    }
  }
}

