.container {
  position: relative;
  padding-top: 80px;
  width: 100%;
  overflow-y: hidden;

  .adamsrib1, .adamsrib2, .adamsrib3 {
    animation: wind 10s infinite alternate;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    z-index: 21;
  }
  .adamsrib2 {
    animation: wind 10s infinite alternate-reverse;
  }
}

@keyframes wind {
  0%
  {
    right: -3px;
  }
  33%
  {
    right: 0;
  }
  66%
  {
    right: -3px;
  }
  100%
  {
    right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    .adamsrib1, .adamsrib2, .adamsrib3 {
      width: 200px;
    }
  }
}

