.footer {
  padding: 3rem 1rem;
  background-color: var(--primary);
  border-top: 1px solid var(--gray300);
  z-index: 10;

  .footer_div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;

    div {
      padding-top: 1.5rem;
    }

    img {
      width: 150px;
      margin-left: auto;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 3rem 5rem;
  }
}
